.carboncopyIcon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.text {
  position: relative;
  line-height: 20px;
}
.buttonstexticonbutton {
  border-radius: var(--br-9xs);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xl) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--text-base-bold-size);
  color: var(--neutral-100);
  font-family: var(--text-xs-regular);
}
