.idWm1223Hb,
.quickCatchup {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100%;
}
.idWm1223Hb {
  top: 58.82%;
  font-size: var(--text-base-bold-size);
  color: var(--white-50);
}
.quickCatchupParent {
  position: absolute;
  height: 60.71%;
  width: 7.85%;
  top: 10.71%;
  right: 85.28%;
  bottom: 28.57%;
  left: 6.88%;
  font-size: var(--font-size-base);
}
.div {
  position: relative;
  line-height: 12px;
  text-transform: uppercase;
}
.wrapper {
  position: absolute;
  height: 35.71%;
  width: 3.06%;
  top: 23.21%;
  right: 81.53%;
  bottom: 41.07%;
  left: 15.42%;
  border-radius: var(--br-11xs);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-11xs) var(--padding-7xs) 0;
  box-sizing: border-box;
}
.maskGroupIcon {
  position: absolute;
  height: 51.79%;
  width: 4.83%;
  top: 16.07%;
  right: 93.78%;
  bottom: 32.14%;
  left: 1.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.meetingheaderChild {
  position: absolute;
  height: 1.79%;
  width: 100.07%;
  top: 99.11%;
  right: -0.03%;
  bottom: -0.89%;
  left: -0.03%;
  border-top: 1px solid var(--white-10);
  box-sizing: border-box;
}
.carbonplayIcon {
  position: absolute;
  height: 43.48%;
  width: 6.25%;
  top: 28.26%;
  right: 62.5%;
  bottom: 28.26%;
  left: 31.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.groupChild,
.invite {
  position: absolute;
  top: 0;
}
.groupChild {
  height: 100%;
  width: 37.5%;
  right: 0;
  bottom: 0;
  left: 62.5%;
  border-radius: var(--br-11xs);
  border: 1px solid var(--primary-80);
  box-sizing: border-box;
  cursor: pointer;
}
.invite {
  left: 41.67%;
  line-height: 20px;
}
.carbonuserFollowIcon {
  position: absolute;
  height: 80%;
  width: 26.67%;
  top: 10%;
  right: 73.33%;
  bottom: 10%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.carbonuserMultipleIcon,
.carbonuserRoleIcon,
.inviteParent {
  position: absolute;
  height: 43.48%;
  width: 18.75%;
  top: 28.26%;
  right: 10%;
  bottom: 28.26%;
  left: 71.25%;
}
.carbonuserMultipleIcon,
.carbonuserRoleIcon {
  width: 6.25%;
  right: 78.13%;
  left: 15.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.carbonuserRoleIcon {
  right: 93.75%;
  left: 0;
}
.carbonplayParent {
  position: absolute;
  height: 82.14%;
  width: 22.22%;
  top: 0;
  right: 1.25%;
  bottom: 17.86%;
  left: 76.53%;
  color: var(--primary-80);
  font-family: var(--text-xs-regular);
}
.meetingtabsChild,
.meetingtabsItem {
  position: absolute;
  height: 4.65%;
  width: 32.73%;
  top: 97.67%;
  right: 31.31%;
  bottom: -2.33%;
  left: 35.96%;
  border-top: 2px solid var(--primary-80);
  box-sizing: border-box;
  display: none;
}
.meetingtabsItem {
  width: 23.84%;
  right: 5.86%;
  left: 70.3%;
}
.carbondocumentSignedIcon {
  position: absolute;
  height: 100%;
  width: 30.77%;
  top: 0;
  right: 69.23%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.esign {
  position: absolute;
  top: 0;
  left: 46.15%;
  line-height: 20px;
}
.carbondocumentSignedParent {
  position: absolute;
  height: 46.51%;
  width: 13.13%;
  top: 0;
  right: 11.31%;
  bottom: 53.49%;
  left: 75.56%;
  cursor: pointer;
}
.carbondocumentAddIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.transactionType {
  position: absolute;
  top: 0;
  left: 22.39%;
  line-height: 20px;
}
.carbondocumentAddParent {
  position: absolute;
  top: 0;
  left: 190px;
  width: 134px;
  height: 20px;
  cursor: pointer;
}
.meetingtabsInner {
  position: absolute;
  height: 4.65%;
  width: 20.61%;
  top: 97.67%;
  right: 68.08%;
  bottom: -2.33%;
  left: 11.31%;
  border-top: 2px solid var(--primary-80);
  box-sizing: border-box;
}
.room {
  position: absolute;
  top: 0;
  left: 45.45%;
  line-height: 20px;
}
.carboncheckboxIcon {
  position: absolute;
  height: 100%;
  width: 30.3%;
  top: 0;
  right: 69.7%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.roomParent {
  position: absolute;
  height: 46.51%;
  width: 13.33%;
  top: 0;
  right: 71.72%;
  bottom: 53.49%;
  left: 14.95%;
  color: var(--primary-80);
}
.meetingtabs {
  position: absolute;
  height: 76.79%;
  width: 34.38%;
  top: 23.21%;
  right: 32.78%;
  bottom: 0;
  left: 32.85%;
  font-family: var(--text-xs-regular);
}
.carbonhelpIcon {
  position: absolute;
  height: 35.71%;
  width: 1.39%;
  top: 23.21%;
  right: 11.67%;
  bottom: 41.07%;
  left: 86.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.meetingheader {
  width: 1440px;
  height: 56px;
  text-align: left;
  font-size: var(--text-base-bold-size);
  color: var(--white-100);
  font-family: var(--font-graphik);
}
